<template>

  <div class="container">
    <div class="row" v-if="!client">
      <input v-model="eventId" type="text" class="form-control" placeholder="id пользователя">
      <button type="submit" v-on:click="findClient()" class="btn btn-secondary">find</button>
      <button type="submit" v-on:click="newContact()" class="btn btn-secondary">new</button>
    </div>
    <div class="row" v-if="client">
      <div class="col-md-5 order-md-2 mb-4">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
          <span class="text-muted">Контакты</span>
        </h4>
        <ul class="list-group mb-3" >
          <li v-for="(n, ind) in client.contacts.length" :key="ind" class="list-group-item d-flex justify-content-between lh-condensed">
            <div class="input-group" v-if="client.contacts[ind].isUpdating">
              <Dropdown
                  :default-val="{value: client.contacts[ind].type}"
                  :options="contactTypes"
                  v-on:selected="(option)=>contactSelection(ind, option)"
                  :max-item = 20
                  placeholder="Тип">
              </Dropdown>
              <input v-model="client.contacts[ind].value" type="text" class="form-control" placeholder="Значение">
              <button v-if="client.contacts[ind].showButtons" type="submit" v-on:click="deleteContact(ind)" class="btn btn-secondary">delete</button>
              <button v-if="client.contacts[ind].showButtons" type="submit" v-on:click="saveContact(ind)" class="btn btn-secondary">save</button>
              <button v-on:click="showContacts(ind)" type="button" class="btn btn-outline-secondary">
                <svg v-if="!client.contacts[ind].showButtons" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                  <path d="M10.205 12.456A.5.5 0 0 0 10.5 12V4a.5.5 0 0 0-.832-.374l-4.5 4a.5.5 0 0 0 0 .748l4.5 4a.5.5 0 0 0 .537.082z"></path>
                </svg>
                <svg v-if="client.contacts[ind].showButtons" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                  <path d="M5.795 12.456A.5.5 0 0 1 5.5 12V4a.5.5 0 0 1 .832-.374l4.5 4a.5.5 0 0 1 0 .748l-4.5 4a.5.5 0 0 1-.537.082z"></path>
                </svg>
                <span class="visually-hidden">Button</span>
              </button>
            </div>
            <div class="input-group" v-if="!client.contacts[ind].isUpdating">
              <input v-model="client.contacts[ind].type" readonly type="text" class="form-control" placeholder="тип">
              <input v-model="client.contacts[ind].value" readonly type="text" class="form-control" placeholder="значение">
              <button v-if="client.contacts[ind].showButtons" type="submit" v-on:click="deleteContact(ind)" class="btn btn-secondary">delete</button>
              <button v-if="client.contacts[ind].showButtons" type="submit" v-on:click="updateContact(ind)" class="btn btn-secondary">update</button>
              <button v-on:click="showContacts(ind)" type="button" class="btn btn-outline-secondary">
                <svg v-if="!client.contacts[ind].showButtons" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                  <path d="M10.205 12.456A.5.5 0 0 0 10.5 12V4a.5.5 0 0 0-.832-.374l-4.5 4a.5.5 0 0 0 0 .748l4.5 4a.5.5 0 0 0 .537.082z"></path>
                </svg>
                <svg v-if="client.contacts[ind].showButtons" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-square" viewBox="0 0 16 16">
                  <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                  <path d="M5.795 12.456A.5.5 0 0 1 5.5 12V4a.5.5 0 0 1 .832-.374l4.5 4a.5.5 0 0 1 0 .748l-4.5 4a.5.5 0 0 1-.537.082z"></path>
                </svg>
                <span class="visually-hidden">Button</span>
              </button>
            </div>
          </li>
        </ul>
        <div class="input-group">
          <div class="input-group-append">
            <button v-on:click="addContact" class="btn btn-secondary">Добавить контакт</button>
          </div>
        </div>
      </div>
      <div class="col-md-7 order-md-1">
        <h4 class="mb-3">Информация</h4>
        <form class="needs-validation" novalidate="">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">ФИО</label>
              <input v-model="client.name" type="text" class="form-control" id="ФИО">
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
          </div>
          <hr class="mb-4">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="firstName">Тип питания</label>
              <Dropdown
                  :options="foodTypes"
                  v-on:selected="foodSelection"
                  :max-item = 20
                  placeholder="Тип питания">
              </Dropdown>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="firstName">Проживание</label>
              <Dropdown
                  :options="[{value: '1'},{value: '2'},{value: '3'}]"
                  v-on:selected="houseSelection"
                  :max-item = 20
                  placeholder="Проживание">
              </Dropdown>
              <div class="invalid-feedback">
                Valid first name is required.
              </div>
            </div>
          </div>
          <hr class="mb-5">
          <button class="btn btn-primary btn-lg btn-block" type="submit">Добавить</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import {get} from "axios";
import {Contact} from "@/service/contact/Contacts";
import Dropdown from "@/components/Dropdown/Dropdown";
import foodTypes from "@/service/const/FoodType";
import {ClientInformationDto} from "@/service/ClientInformationDto";

export default {
  name: 'ClientPage',
  components: {
    Dropdown
  },
  props: {
    msg: String,
  },
  data() {
    return {
      contactTypes: null,
      foodTypes,
      client: null,
      eventId: null,
      contacts: []
    }
  },
  methods: {
    async findClient() {
      const client = await get("/intensive/client/"+this.eventId);
      if (client.data.eventId!=null) {
        this.client = client.data.clientInformationDto;
        this.eventId = client.data.eventId;
      }
    },
    async newContact() {
      this.client = new ClientInformationDto()
    },
    async addToCart() {
      // if (this.clientId===null){ return }
      // // eslint-disable-next-line vue/no-mutating-props
      // const client = await get("/intensive/client/"+this.eventId);
      // if (client.data.eventId!=null) {
      //   this.client = client.data.clientInformationDto;
      //   this.eventId = client.data.eventId;
      // } else {
      //   this.client = new ClientInformationDto()
      // }
      const contactTemplates = await get("/intensive/contact/template/all")
      console.log(contactTemplates);
      this.contactTypes = contactTemplates.data;
    },
    contactSelection(ind, option) {
      this.client.contacts[ind].type = option.value
    },
    foodSelection(option) {
      this.client.foodType = option
    },
    houseSelection(option) {
      this.client.house = option
    },
    showContacts(ind) {
      this.client.contacts[ind].showButtons = !this.client.contacts[ind].showButtons
    },
    async updateContact(ind) {
      this.client.contacts[ind].isUpdating = true
    },
    async deleteContact(ind) {
      this.client.contacts = this.client.contacts.filter((x, index)=>index!==ind)
    },
    async saveContact(ind) {
      this.showContacts(ind)
      this.client.contacts[ind].isUpdating = false
    },
    async addContact() {
      const newContact = new Contact(null, "EMAIL", null)
      newContact.isUpdating = true
      newContact.showButtons = true
      this.client.contacts.push(newContact)
    },
    onWindowLoad() {
      this.addToCart()
      // console.log(this.contactTypes)
    }
  },
  computed: {
  },
  mounted() {
    this.$nextTick(function () {
      window.addEventListener("load", this.onWindowLoad);
    })
  }
}
</script>

<style scoped>

</style>
