<template>
  <ClientPage/>
</template>

<script>
import ClientPage from './components/ClientPage.vue'
// import {get} from "axios";

export default {
  name: 'App',
  components: {
    ClientPage
  },
  mounted() {
    // let contactTypes;
    // get("/intensive/client/"+this.eventId).then(response=>{
    //   contactTypes = response.data});
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
