<template>
  <div class="ContactComponent">
    <div class="form-group row">
        <label for="{{inContact.id}}" class="col col-form-label">{{ inContact.type }}</label>
        <div class="col">
          <input v-model="inContact.value" type="text" class="form-control" id="{{inContact.id}}">
        </div>
      </div>
  </div>
</template>

<script>
import {Contact} from "@/service/contact/Contacts";

export default {
  name: 'ContactComponent',
  data() {
    const inContact = new Contact()
    inContact.value = this.contact.value
    inContact.type = this.contact.type
    inContact.id = this.contact.id
    return {
      inContact
    }
  },
  props: {
    contact: Contact
  },
  methods: {},
  computed: {},
  mounted() {
    this.$emit('ready', this.value)
  }
};

</script>
